<h1>Welcome, <%= @user.handle %>!</h1>

<p>Thank you for joining our platform. We're excited to have you here!</p>

<p>Your account has been successfully created.</p>

<p>Get started by:</p>
<ul>
  <li>Creating your first issue</li>
  <li>Participating in discussions</li>
  <li>Exploring the community</li>
</ul>

<p>If you have any questions, feel free to reach out to our support team.</p>

<p>Best regards,<br>The Team</p>

